* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


#nav {
    height: 84px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#lanSig {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px
}

#sig-btn button {
    height: 32px;
    width: 77px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-bottom: 22px;
    cursor: pointer;
}

select {
    width: 125px;
    height: 32px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

#logo {
    width: 148px;
    height: 40px;
    font-size: large;
    color: rgb(160, 5, 13);
    font-weight: 900;
    /* margin-right: 800px; */
}

#headMain {
    height: 100vh;
    width: 99vw;
    background-image: url(Image/main-image.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    filter: drop-shadow(150px rgb(8, 1, 1));
}

#headline {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 100px;
}


#headline p,
h4 {
    color: rgb(255, 255, 255);
    font-family: unset;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px;
}

#input input {
    width: 320px;
    padding-left: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    border: 0.1px solid rgb(137, 137, 137);
}

#input button {
    width: 180px;
    font-size: 18px;
    font-weight: 700;
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
}

#input input,
button {
    height: 56px;
    margin-top: 25px;
}

hr {
    color: black;
    /* height: 5px;
    width: 100vw;
    margin: auto;
    border: 1px solid rgb(24, 17, 17);
    background-color: rgb(17, 11, 11); */
}

.movie-section {
    height: 65vh;
    background-color: rgb(19, 18, 18);
}

.movie-section span {
    color: #ffffff;
    width: 974px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
    padding: auto;
    font-size: 30px;
    font-weight: bold;
}

.images img {
    width: 180px;
    height: 252px;
    object-fit: cover;
    border-radius: 10px;
}

.images:hover {
    transform: scale(1.1);
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
    gap: 25px;
    width: 90%;
    margin: auto;
    justify-content: center;
}

.channel-section {
    height: 60vh;
    background-color: black;
}

.channel-section span {
    max-width: 85vw;
    color: #ffffff;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: start;
    font-size: 30px;
    font-weight: bold;

}

.container {
    width: 300px;
    height: 280px;
    background: linear-gradient(to top left, #2f0c1d 0%, #06294b 78%);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

.all-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
}

/* .container:hover {
     transform: scale(1.1);
} */

.container img {
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 50px;
    margin-left: 220px;

}

.question {
    height: 50vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

#first-q span {
    max-width: 80vw;
    color: #ffffff;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: start;
    font-size: 30px;
    font-weight: bold;
}

.qus {
    width: 77vw;
    height: 84px;
    /* max-width: 65vw; */
    color: #ffffff;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(151, 149, 149, 0.289);
}

.qus:hover {
    background-color: rgba(173, 171, 171, 0.379);
    ;
    cursor: pointer;
}

.subscription {
    /* width: 100vw;
    height: 12vh; */
    height: 25vh;
    background-color: black;
    color: white;
}

.subscription #span {
    max-width: 50vw;
    margin: auto;
    font-size: 20px;
    /* padding-left: 180px; */
}

.subscription #input {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.subscription #input input {
    width: 620px;
    padding-left: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    border: 0.1px solid rgb(137, 137, 137);
}

footer {
    height: 30vw;
    background-color: black;
    color: white;
}

footer span {
    max-width: 82vw;
    color: #ffffffa3;
    margin: auto;
    padding: 29px;
    display: flex;
    justify-content: start;
    font-size: 20px;
    font-weight: bold;
}

footer div,
ul {
    display: grid;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    list-style: none;
}

li {
    color: rgba(255, 255, 255, 0.622);
    margin-left: 150px;
    padding: 5px;
}

footer select {
    margin-left: 150px;
    margin-top: 50px;
}

.lst {
    font-family: serif;
    font-size: 14px;
    padding-left: 60px;
}

@media screen and (max-width: 450px) {

    *body {
        width: 100% !important ;
        overflow: hidden !important;
    }
    hr {
        width: 100vw;
        margin-left: 0;
    }

    #headMain {
        height: 100vh;
        width: 100vw;
    }

    select {
        width: 80px;
        height: 32px;
    }

    #logo {
        width: 80px;
        height: 20px;
    }

    #headline h1 {
        /* width: 588px;
        height: 148px;
        font-weight: bold;
        margin-left: 150px; */
        font-size: 48px;
    }

    #headline h4 {
        font-size: 20px;
    }

    #headline p {
        font-size: 19px;
        margin-left: 40px;
    }

    #input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .movie-section {
        height: 200vh;
        width: 100vw;
    }

    .movie-section span {
        /* margin-left: 120px; */
        max-width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .channel-section {
        width: 100vw;
        height: 175vh;
    }

    .channel-section span {
        margin-left: 60px;
    }

    .all-container {
        gap: 20px;
    }

    .question {
        width: 100vw;
        height: 95vh;
    }

    #first-q span {
        max-width: 500px;
    }

    footer {
        width: 100vw;
        height: 120vh;
    }

    .subscription {
        width: 100vw;
        height: 35vh;
    }

    .subscription #span {
        max-width: 80vw;
        margin: auto;
        font-size: 20px;
        padding-left: 20px;
    }

    .subscription #input input {
        width: 320px;
        padding-left: 20px;
    }

    footer div,
    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }

}